<div>
    <h3>Send message to other tab(s): </h3>

    <input type="text" [formControl]="simpleInputControl">
    <button type="button" (click)="send()">Send message to other tabs</button>


    <h3>Received message from other tab(s): </h3>
    <p>{{ messageReceived$ | async }}</p>
</div>
